<div id='fourSquareApp'>
	<div class="btn-group" id='menu_but'>
		<button type="button" id='menuButton' class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			Menu <span class="caret"></span>
		</button>
		<ul id='menu_choices' class="dropdown-menu" role="menu">
			<li><a href="main.html#/" id='drop_down'>main menu</a></li> 
			<li><a href="main.html#/classic">classic tic-tac-toe</a></li>
			<li><a href="main.html#/incept">tic-tac inception</a></li>
			<li class="divider"></li>
			<li><a href="https://rainierharvey.me">Home page</a></li>
		</ul>
	</div>  
	<h3>Four Square Tic-Tac-Toe</h3>
	<table id='ticTable'>
		<tr id='row1'>
			<td ng-click='boardReval(board[0])'>{{ boardVal(board.start[0]) }} </td>
			<td>{{ boardVal(board.start[1]) }}</td>
			<td>{{ boardVal(board.start[2]) }}</td>
			<td>{{ boardVal(board.start[3]) }}</td> 
		</tr>
		<tr id='row2'>
			<td>{{ boardVal(board.start[4]) }}</td>
			<td>{{ boardVal(board.start[5]) }}</td>
			<td>{{ boardVal(board.start[6]) }}</td>
			<td>{{ boardVal(board.start[7]) }}</td> 
		</tr> 
		<tr id='row3'>
			<td>{{ boardVal(board.start[8]) }}</td>
			<td>{{ boardVal(board.start[9]) }}</td>
			<td>{{ boardVal(board.start[10]) }}</td>
			<td>{{ boardVal(board.start[11]) }}</td> 
		</tr>
		<tr id='row4'>
			<td class='last'>{{ boardVal(board.start[12]) }}</td>
			<td class='last'>{{ boardVal(board.start[13]) }}</td>
			<td class='last'>{{ boardVal(board.start[14]) }}</td>
			<td class='last'>{{ boardVal(board.start[15]) }}</td> 
		</tr>  
	</table >
	<button id='clear' class='btn btn-primary' ng-click='clearBoard()'>Clear the Board</button>
</div>
