<div id='fourSquareApp'>
	<h3>Four Square Tic-Tac-Toe</h3>
	<h1>{{ message }}</h1>
	<!--table id='ticTable'>
		<tr id='row1'>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td> 
		</tr>
		<tr id='row2'>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td> 
		</tr> 
		<tr id='row3'>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td> 
		</tr>
		<tr id='row4'>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td>
			<td>{{ }}</td> 
		</tr>  
	</table -->
</div>
