<div id='fourSquareApp'>
	<h3>Four Square Tic-Tac-Toe</h3>
	<table id='ticTable'>
		<tr id='row1'>
			<td ng-click='boardVal(board[0])'>{{ board[1] }} </td>
			<td>{{ boardVal(board[1]) }}</td>
			<td>{{ boardVal(board[2]) }}</td>
			<td>{{ boardVal(board[3]) }}</td> 
		</tr>
		<tr id='row2'>
			<td>{{ boardVal(board[4]) }}</td>
			<td>{{ boardVal(board[5]) }}</td>
			<td>{{ boardVal(board[6]) }}</td>
			<td>{{ boardVal(board[7]) }}</td> 
		</tr> 
		<tr id='row3'>
			<td>{{ boardVal(board[8]) }}</td>
			<td>{{ boardVal(board[9]) }}</td>
			<td>{{ boardVal(board[10]) }}</td>
			<td>{{ boardVal(board[11]) }}</td> 
		</tr>
		<tr id='row4'>
			<td class='last'>{{ boardVal(board[12]) }}</td>
			<td class='last'>{{ boardVal(board[13]) }}</td>
			<td class='last'>{{ boardVal(board[14]) }}</td>
			<td class='last'>{{ boardVal(board[15]) }}</td> 
		</tr>  
	</table >
</div>
