<div id='regTic'>
	<a href='foursquare/'>four square tic-tac-toe</a>
	<h3>Classic Tic-Tac-Toe</h3>
	<table id='ticTable'>
		<tr id='row1'> 
			<td ng-click='assignTo(0)'>{{(loc | filter:{"poss": 0})[0].value }}</td>
			<td ng-click='assignTo(1)'>{{(loc | filter:{"poss": 1})[0].value }}</td>
			<td ng-click='assignTo(2)'>{{(loc | filter:{"poss": 2})[0].value }}</td>
		</tr> 
		<tr id='row2'> 
			<td ng-click='assignTo(3)'>{{(loc | filter:{"poss": 3})[0].value }}</td>
			<td ng-click='assignTo(4)'>{{(loc | filter:{"poss": 4})[0].value }}</td>
			<td ng-click='assignTo(5)'>{{(loc | filter:{"poss": 5})[0].value }}</td>
		</tr>
		<tr id='row3'> 
			<td class='last' ng-click='assignTo(6)'>{{(loc | filter:{"poss": 6})[0].value }}</td>
			<td class='last' ng-click='assignTo(7)'>{{(loc | filter:{"poss": 7})[0].value }}</td>
			<td class='last' ng-click='assignTo(8)'>{{(loc | filter:{"poss": 8})[0].value }}</td>
		</tr>
	</table>
	<button id='clear' class='btn btn-primary' ng-click='clearBoard()'>Clear the Board</button>
	<p class='count'>player x has won: {{ xWin }} number of times</p>
	<p class='count'>player o has won: {{ oWin }} number of times</p>
</div>
<div id='footer'>
</div>
